.row.medium-margin-top
    .col-md-6.large-margin-right
        %h1{:class => "primary"} Connect with artists around the world on Artbook.
        %hr{:class => 'small-padding-bottom'}
        .information
            %i{:class => "far fa-images"}
            %h3{:class => "tertiary tertiary__info"} See art photos and posts from friends.
        .information
            %i{:class => "fas fa-share-square"}
            %h3{:class => "tertiary tertiary__info"} Share your artwork on your Timeline.
        .information
            %i{:class => "far fa-laugh-beam"}
            %h3{:class => "tertiary tertiary__info"} Find inspiration with Artbook Search.
    .col-md-4
        %h1{:class => "primary small-padding-bottom"} Sign Up
        = form_for(:user, :url => user_registration_path) do |f|
            .row.signup_row 
                .col
                    =f.text_field :first_name, required: true, placeholder: "First Name", class: "signup_field"
                .col 
                    =f.text_field :last_name, required: true, placeholder: "Last Name", class: "signup_field"
            .row.signup_row  
                .col 
                    =f.email_field :email, required: true, placeholder: "Email", class: "signup_field"
            .row.signup_row  
                .col 
                    =f.password_field :password, required: true, placeholder: "New password", class: "signup_field"
            .row.signup_row
                .col
                    =f.label :birthday, class: "signup_label"
                    =f.date_field :birthday, max: Date.today, required: true, class: "signup_field"
            .row.signup_row.small-padding-top
                .col 
                    =f.submit "Sign Up", class: "form_btn"