.profile_banner_title
    %h2 Editing Profile

=form_for(@user) do |f|
    .profile_picture_upload
        =f.label :avatar, class: 'banner_label'
        %p=f.file_field :avatar
    .profile_banner_upload
        =f.label :banner, class: 'banner_label'
        %p=f.file_field :banner
    =f.submit "Save changes", class: 'btn profile_banner_upload--btn'
