// --- User bio + post form + posts --- \\
.profile_info.small-margin-top
    .col-md-4.profile_info--column
        .card
            .card-body.profile_info--bio
                = render 'bio'
                .small-margin-top
                    - if @user == current_user
                        =link_to "Edit Details", edit_info_user_path(@user.id), class: "form_btn form_btn--fill"
    .col-md-8
        - if @user == current_user
            .card.small-margin-bottom
                %h3{:class => "post_title"} Create Post
                =render 'posts/form'
        =render 'posts/posts'
        