// --- User header --- \\ 
- if @user == current_user
    - if action_name != "edit_header"
        =link_to "Edit Header", edit_header_user_path(current_user.id), class: "btn form_btn form_btn--small to_right"
- else 
    =link_to "Add as Friend", friendships_path(friend_id: @user), method: :post, class: "btn form_btn form_btn--small to_right"

.profile_banner_heading
    .col-md-5.profile_picture{:style => "background-image: url(#{@user.avatar.url})"}
    .col-md-2.heading_column
        =link_to "Timeline", user_path(@user.id), class: "heading_column--links"
    .col-md-2.heading_column
        =link_to "About", about_user_path(@user.id), class: "heading_column--links"
    .col-md-2.heading_column
        =link_to "Friends", friends_user_path(@user.id), class: "heading_column--links"
    .col-md-2.heading_column
        =link_to "Photos", photos_user_path(@user.id), class: "heading_column--links"
