.row.small-margin-top
    .col-3
        .card
            .card-body 
                %h1 Some text here 
    .col-6
        .card.small-margin-bottom
            %h3{:class => "post_title"} Create Post
            = render 'posts/form'
        = render 'posts/posts'
        
    .col-3
        .card
            .card-body 
                %h1 Some other text