/* --- Colours --- */
$light-purple: #998df0;
$medium-purple: #7F75C7;
$dark-purple: #6C64A7;
$deep-purple: #575085;

$dark-grey: #474747;
$light-grey: #6E6E6E;
$lightest-grey: #f2f2f2;

/* --- Font --- */
$tiny-font: 1rem;
$small-font: 1.5rem;
$medium-font: 2rem;
