.post_form
    = form_for([current_user, @post], html: {multipart: true}) do |f|
        =f.hidden_field :user_id, value: current_user.id
        =f.text_area :body, rows: "5", placeholder: "What would you like to share?", class: 'post_body'
        %hr
        .post_upload
            %i{:class => "far fa-image post_upload--icon"}
            =f.file_field :image, class: "post_upload--image"
        =f.submit :Post, class: 'post_btn'