// --- News feed --- \\
.row.small-margin-top
    .col-3
        .card
            .card-body 
                %h1 Some text here 
    .col-6
        = render "posts"
        
    .col-3
        .card
            .card-body 
                %h1 Some other text

