/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "utilities/variables";
 
/* --- Padding --- */
.no-padding {
    padding: 0;
}

.small-padding-bottom {
    padding-bottom: 2rem;
}

.small-padding-top {
    padding-top: 1.5rem;
}

/* --- Margin --- */
.small-margin-right {
    margin-right: 2rem;
}
.medium-margin-right {
    margin-right: 3rem;
}
.large-margin-right {
    margin-right: 6rem;
}

.small-margin-bottom {
    margin-bottom: 2rem;
}

/* --- Text --- */
.small-font {
    font-size: $small-font
}

.medium-font {
    font-size: $medium-font
}

.primary {
    color: $dark-purple;
    font-weight: bold;
}

.tertiary {
    color: $light-grey;
    font-size: $small-font;
    margin-bottom: 3rem;

    &__info {
        padding-top: 0.5rem;
    }
}

.navbar {
    background-color: $medium-purple;
    padding-left: 4rem;
}

.container {
    max-width: 1200px;
}

/* --- Buttons --- */

.form_btn {
    background-color: $dark-purple;
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    font-size: $small-font;

    &:hover {
        background-color: $deep-purple;
    }
}

.icon {

    &_btn{
        padding: 0;
        background-color: $medium-purple;
        border: none;
        position: absolute;
        margin: 0.5rem;
    }

    &_search {
        font-size: $medium-font;
        padding: 0;
    }
}