// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'utilities/variables';

.post_body {
    width: 100%;
    padding: 0.5rem;
    border: none;
}

.card {
    border-radius: 0.5rem;
    overflow: hidden;
}

.post_form {
    text-align: center;
    width: 100%;
}

.post_title {
    color: white;
    padding: 0.3rem 0.5rem;
    background-color: $medium_purple;
}

.post_btn {
    color: white;
    background-color: $medium_purple;
    width: 100%;
    margin-top: 1rem;
}

.post_upload {
    display: inline-block;
    margin-left: 5rem;

        &--icon {
        
        }

        &--image {
            color: $medium_purple;
            font-size: 1.1rem;
            margin-top: 0.4rem;
        }
}

.post_image {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .post_upload {
        margin-left: 2rem;
    }
}