// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'utilities/variables';

.post_body {
    width: 80%;
    padding: 0.5rem;
}

.card-subtitle {
    color: $light_grey;
}