// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'utilities/variables';

/* --- Post author --- */ 

.post_user {
    position: relative;
    color: $deep-purple;

    &--avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    &--details {
        transform: translateX(3.5rem);

    }

    &--like {
        background-color: $deep-purple;
    }

}

/* --- Post format --- */ 

.post_body {
    width: 100%;
    padding: 1.2rem;
    border: none;
}

.card {
    border-radius: 0.5rem;
    overflow: hidden;

.post_image {
    width: 100%;
    max-height: 25rem;
}


/* --- Post Create Form --- */

}

.post_form {
    text-align: center;
    width: 100%;
}

.post_title {
    color: white;
    padding: 0.3rem 1.2rem;
    background-color: $medium_purple;
}

.post_btn {
    color: white;
    background-color: $medium_purple;
    width: 100%;
    margin-top: 1rem;
}

.post_upload {
    display: inline-block;
    margin-left: 5rem;

        &--icon {
        
        }

        &--image {
            color: $medium_purple;
            font-size: 1.1rem;
            margin-top: 0.4rem;
        }
}

@media screen and (max-width: 1200px) {
    .post_upload {
        margin-left: 2rem;
    }
}

/* --- Post Response --- */
a {
    &:hover {
        text-decoration: none;
    }
}

.post_response {
    background-color: $dark-purple;
    display: flex;
    white-space: nowrap;
    padding: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: $tiny-font;
    color: white;
    

    &--btn {
        margin: 0 auto;
    }

    &--text {
        margin-top: 0.2rem;
    }
}
