// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'utilities/variables';

/* --- User Navbar --- */
.nav-item {
    white-space: nowrap;
    border-right: 1px solid $dark-purple;
}

.nav-link {
    color: white;
    font-size: $small-font;

    &:hover {
        color: $deep-purple;
    }
}

.nav-field {
    width: 8rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
}

@media screen and (min-width: 760px) {
    .nav-field {
        width: 15rem;
    }

}

@media screen and (min-width: 1000px) {
    .nav-field {
        width: 30rem;
    }
}

