%nav{:class => "navbar navbar-expand-sm no-padding"}
    .container
        %a{:class => "navbar-brand medium-font", :href => "/"}
            Artbook
        %ul{:class => "navbar-nav mr-auto"}
            =form_tag(search_path, :method => "get") do 
                %li{:class => "medium-margin-right"}
                    =search_field_tag :search, params[:search], placeholder: "Find Inspiration", class: 'nav-field'
                    =button_tag :submit, class: 'icon_btn' do
                        %i{:class => "fas fa-search icon_search"}
                
            %li{:class => "nav-item"}
                =link_to current_user.first_name, user_path(current_user.id), class: 'nav-link'
            %li{:class => "nav-item"}
                =link_to "Home", users_path, class: 'nav-link'
            %li{:class => "nav-item"}
                =link_to "Find Artists", artists_path, class: 'nav-link'
            %li{:class => "nav-item"}
                =link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link'   