= content_for :homepage_navbar do
    %nav{:class => "navbar navbar-expand-lg"}
        .container
            %a{:class => "navbar-brand", :href => "/"}
                Artbook
            %ul{:class => "navbar-nav"}
                = form_for(:user, :url => new_user_session_path) do |f|
                    %li{:class => "navbar-item"}
                        =f.label :email, class: "navbar-label"
                        =f.email_field :email, class: "navbar-field"
                    %li{:class => "navbar-item"}
                        =f.label :password, class: "navbar-label"
                        =f.password_field :password, class: "navbar-field"
                        =f.submit "Login", class: 'navbar-btn'

                
=render :template => "layouts/application.html.erb"
