= content_for :navbar do
    %nav{:class => "navbar navbar-expand-lg navbar-dark bg-primary"} 
        %a{:class => "navbar-brand", :href => "/"}
            Artbook
        %ul{:class => "navbar-nav"}
            = form_for(:user, :url => new_user_session_path) do |f|
                %li{:class => "nav-item active"}
                    =f.label :email 
                    =f.email_field :email
                %li{:class => "nav-item active"}
                    =f.label :password
                    =f.password_field :password
                    =f.submit "Login" 

                
=render :template => "layouts/application.html.erb"
